<footer class="footer">
  <div class="wrapper">
    <a href="/"><h5>My Food</h5></a>
    <div class="sides">
      <div class="fLeft">
        <p>Tasty destination for foodies</p>
        <nav>
          <a href="/">Home</a>
          <a href="/recipes">Recipes</a>
          <a href="/tips">Tips</a>
          <a href="/contact">Contact</a>
        </nav>
      </div>
      <div class="middle"></div>
      <div class="fRight">
        <form id="subscription" novalidate>
          <p>Join our newsletter for the tastiest treats!</p>
          <div class="subscription">
            <div class="input">
              <input
                name="email"
                id="email"
                minlength="3"
                required
                placeholder="Your email address"
              />
              <span class="error" aria-live="polite"></span>
            </div>
            <button type="submit">SUBSCRIBE</button>
          </div>
        </form>
        <dialog>
          <p>Subscribed!</p>
          <button class="close"><img src="/assets/icons/close.svg" /></button>
        </dialog>
      </div>
    </div>
  </div>
</footer>
