$box-shadow: 2px 0px 12px -3px rgba(202, 199, 185, 0.86);
$base-color: #647403;
$light-background: #f9f7eb;
$content-light-background: #fffef6;
$button-border-radius: 25px;
$card-border-radius: 20px;
$light-border: 1px solid #f3f0e1;
$content-background: #fffef6;
$line: #cacea2;
$description-text: #b7b7b5;
$dark-text: #101010;
$white-colored: white;
$colored-background: #e4d8ab;
$line: #c1c694;
$font-family: Arial, sans-serif;
$hover-on-card-background: rgba(202, 199, 185, 0.36);
